table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  background-color: navy;
  color:white;
}
body {
  background-color: black;
  color: tan;
}
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  font-weight: 600;
}
